gradio==3.41.0
python-dotenv==1.0.0
openai>=1.35.7
langchain==0.1.0
langchain-community==0.0.189
langchain-openai==0.0.17
faiss-cpu==1.11.0 ; python_version < "3.12"
sentence-transformers==2.2.2
numpy<2
